<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Recipes</title>
</head>
<body>
    <h1>Search for BBC Good Food Recipe</h1>

    <input id='bbc-search-field' placeholder="BBC URL" size=50>
    <button id='bbc-search-button'>Search</button>
    <script src="/js/app.js"></script>
</body>
</html>